<body>
	
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						
                        <div class="row" class="ads">
        
                            <div class="col-sm-12">
                                <div class="card rounded">
                                    <div class="card-image">
                                        
                                        <span class="card-notify-year">New</span>
                                        <img class="img-fluid" [src]="car.image" alt="Alternate Text" />
                                    </div>
                                    <br>
                                    <div class="card-image-overlay m-auto">
                                        <span class="card-detail-badge">Marque : {{ car.Marquevoiture }}</span>
                                        <span class="card-detail-badge">nombre siege : {{car.NBsiege}} </span>
                                        <span class="card-detail-badge">{{ car.Color }}</span>
                                                    </div>
                                    <div class="card-body text-center">
                                        <div class="ad-title m-auto">
                                            <span class="card-d-badge">{{ car.N_immatriculation }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
						
						
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>